{% extends 'base.html' %}
{% block title %}Saber{% endblock %}
{% set active_page = 'profile' %}
{% block content %}
<div class="row">
    <div class="col">
        <form method="POST" id="user_form">
            {{form.hidden_tag() }}
            {% for field in form
                if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field(class_="form-control") }}
        
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>
            {% endfor %}
            
            <button class="btn btn-primary btn-sm">Save</button>
            <a class="btn btn-outline-secondary btn-sm" href="/profile">Cancel</a>
        </form>
        
    </div>
</div>
{% endblock %}